<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.pinimg.com/1200x/4a/2f/ed/4a2fedf9e71e25e89a8c912054cacfac.jpg" style="max-width:100%; width:auto; height:auto;" >
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/1200x/6e/77/d3/6e77d397a2923c5fb9821a0352635ce4.jpg" style="max-width:100%; width:auto; height:auto;">
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/1200x/81/55/75/815575b1b9172609634eee9879bdd2bf.jpg" style="max-width:100%; width:auto; height:auto;" >
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
